.link {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 1rem;
  text-decoration-color: burlywood;
  text-decoration: none;
  color: #292a2b;
  transition: color .2s;
}

.link:hover {
  color: burlywood;
  text-decoration: solid 2px burlywood underline;
}

.nav {
  padding: 0 12px;
}
