.link {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0.45rem;
  text-decoration-color: #ebebeb;
  text-decoration: none;
  color: #292a2b;
  transition: color .2s;
  font-family: "Poppins"
}

.link:hover {
  color: #ebebeb;
  text-decoration: solid 2px #ebebeb underline;
}

.nav {
  padding: 0 0.25rem;
}
